.div-ItemDetailContainer {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 25px 0px 35px 0px;
}

.div-ItemDetailContainer h1 {
    margin: 10px;
}

.div-ItemDetailContainer .content {
    display: flex;
    justify-content: center;
}

.div-ItemDetailContainer .content div{
    padding: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: space-between; */
}

.div-ItemDetailContainer .content div p{
    font-size: 20px;
}

.img-ItemDetailContainer{
    width: 500px;
    height: 500px;
}

/* .div_ItemDetailContainer-div_button {
    display: flex;
    justify-content: center;
} */

.div-Detail{
    display: flex;
    flex-direction: column;
}