.div-Notification{
    position: absolute;
    top: 130px;
    right: 15px;
    padding: 20px 10px;
    color: white;
}

.success{
    background-color: forestgreen;
}

.error {
    background-color: brown;
}