.div-Checkout {
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    width: 70%;
    margin: 25px 0px 35px 0px;
}

.div-Checkout p {
    font-size: 20px;
    margin: 5px 0px 0px 0px;
}

.div-Checkout input {
    border: solid 1px lightgrey;
    font-size: 20px;
    color: grey;
    text-align: center;
}

.div-Checkout button {
    background-color: firebrick;
    border: none;
    padding: 15px;
    color: white;
    font-weight: bold;
    width: 160px;
    margin: 15px 10px;
}

.div-Checkout button:hover{
    background-color: crimson;
}