nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.div-buttons button {
    width: 100px;
    height: 50px;
    font-size: 15px;
    border: none;
    border-radius: 5%;
    background-color: transparent;
}

.div-buttons button:hover {
    background-color: black;
    color: white;
    text-shadow: 1px 1px 2px white;
}

.logo-img {
    height: 120px;
    width: 240px;
}

