.div-CartItem{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
}

.div-CartItem p{
    font-weight: bold;
    margin: 0px;
}

.div-CartItem a{
    font-weight: bold;
    color: black;
}

.div-CartItem a:hover{
    color: firebrick;
}

.div-CartItem .img-CartItem{
    width: 100px;
    height: 100px;
}