.footer {
    position: absolute;
    width: 100%;
    border-top: solid 1px lightgrey;
    bottom: 0px;
    background-color: white;
}

.footer p {
    font-size: 11px;
    color: gray;
    margin: 2px;
}